<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwanriSelectMapper">
	
<cache />

<sql id = "agreementCondition">
	AGREEMENT_CONDITION_NUM,AGREEMENT_CONDITION_DATE,AGREEMENT_CONDITION_RATIO,
	AGREEMENT_CONDITION_SETT,GWAN_RI_NUM
	</sql>
	
	<resultMap type="acDTO" id="baseAgreementMap">
	<id column="AGREEMENT_CONDITION_NUM" jdbcType="BIGINT" property="agreementConditionNum" />	
	<result column="AGREEMENT_CONDITION_DATE" jdbcType="DATE" property="agreementConditionDate" />
	<result column="AGREEMENT_CONDITION_RATIO" jdbcType="FLOAT" property="agreementConditionRatio" />
	<result column="AGREEMENT_CONDITION_SETT" jdbcType="BIGINT" property="agreementConditionSett" />
	<result column="GWAN_RI_NUM" jdbcType="VARCHAR" property="gwanRiNum" />
	
	</resultMap>
<sql id="basecolumn">
		GWAN_RI_NUM, GWAN_RI_ID, GWAN_RI_PW, GWAN_RI_BIRTH, GWAN_RI_NAME,
		GWAN_RI_GENDER, GWAN_RI_PH, GWAN_RI_REGIST, GWAN_RI_EMAIL
	</sql>	
	<resultMap type="gwanriDTO" id="gwanriDTOForm">
		<id column="GWAN_RI_NUM" jdbcType="VARCHAR" property="gwanRiNum"/> <!-- 사원번호 -->
		<result column="GWAN_RI_ID" jdbcType="VARCHAR" property="gwanRiId"/><!-- 아이디 -->
		<result column="GWAN_RI_PW" jdbcType="VARCHAR" property="gwanRiPw"/><!--  비밀번호 -->
		<result column="GWAN_RI_NAME" jdbcType="VARCHAR" property="gwanRiName"/><!-- 사원이름 -->
		<result column="GWAN_RI_EMAIL" jdbcType="VARCHAR" property="gwanRiEmail"/><!-- 이메일주소 -->
		<result column="GWAN_RI_PH" jdbcType="VARCHAR" property="gwanRiPh"/><!-- 전화번호 -->
		<result column="GWAN_RI_REGIST" jdbcType="DATE" property="gwanRiRegist"/><!-- 입사일 -->
		<result column="GWAN_RI_BIRTH" jdbcType="DATE" property="gwanRiBirth"/><!-- 생일 -->
		<result column="GWAN_RI_GENDER" jdbcType="CHAR" property="gwanRiGender"/><!-- 성별 -->
	</resultMap>
	<!-- 로그인  조회 -->
	<select id="gwanriLog" resultMap="gwanriDTOForm" parameterType="gwanriDTO">
		select <include refid="basecolumn"/>
		from GWAN_RI
		where GWAN_RI_ID = #{gwanRiId} 
		
	</select>
	<select id="agreeAllSelect" parameterType="string" resultMap="baseAgreementMap">
		select 
		<include refid="agreementCondition" />
		from AGREEMENT_CONDITION
	</select>
	
</mapper>