<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwanriSelectMapper">
	
<cache />
<sql id="basecolumn">
		GWAN_RI_NUM, GWAN_RI_ID, GWAN_RI_PW, GWAN_RI_BIRTH, GWAN_RI_NAME,
		GWAN_RI_GENDER, GWAN_RI_PH, GWAN_RI_REGIST, GWAN_RI_EMAIL
	</sql>	
	
	<select id="idConfirm" parameterType="string" resultType="string">
		SELECT gwan_ri_id FROM GWAN_RI WHERE gwan_ri_id = #{gwanRiId} 
	</select>
	
</mapper>