<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gwanriSelectMapper">
	
<cache />
	<sql id = "coopContract">
	COOP_CONTRACT_NUM,COOP_CONTRACT_DATE,COMPANY_SELECT_DATE,COOP_CONTRACT_SUPP_RATIO,COOP_CONTRACT_MAR_RATIO,
	COOP_CONTRACT_CAL_DATE,COOP_CONTRACT_SUBJECT,COOP_CONTRACT_WRITE,COOP_CONTRACT_STATE,COOP_CONDITION_AVAIL_DATE,
	COOP_CONDITION_AVAIL_TIME,COOP_CONDITION_LIMIT_PER,COOP_CONTRACT_RATIO,COOP_CONTRACT_SETT,COOP_CONTRACT_METHOD,
	COOP_CONTRACT_END_DATE,COOP_KIND,COMPANY_ID,GWAN_RI_NUM
	</sql>
	
	<resultMap type="ccDTO" id="coopMap">
	<id column="COOP_CONTRACT_NUM" jdbcType="BIGINT" property="coopContractNum"/> 
	<result column="COOP_CONTRACT_DATE" jdbcType="DATE" property="coopContractDate"/> 
	<result column="COMPANY_SELECT_DATE" jdbcType="DATE" property="companySelectDate"/> 
	<result column="COOP_CONTRACT_SUPP_RATIO" jdbcType="FLOAT" property="coopContractSuppRatio"/> 
	<result column="COOP_CONTRACT_MAR_RATIO" jdbcType="FLOAT" property="coopContractMarRatio"/> 
	<result column="COOP_CONTRACT_CAL_DATE" jdbcType="DATE" property="coopContractCalDate"/> 
	<result column="COOP_CONTRACT_SUBJECT" jdbcType="VARCHAR" property="coopContractSubject"/> 
	<result column="COOP_CONTRACT_WRITE" jdbcType="DATE" property="coopContractWrite"/> 
	<result column="COOP_CONTRACT_STATE" jdbcType="VARCHAR" property="coopContractState"/> 
	<result column="COOP_CONDITION_AVAIL_DATE" jdbcType="VARCHAR" property="coopConditionAvailDate"/> 
	<result column="COOP_CONDITION_AVAIL_TIME" jdbcType="VARCHAR" property="coopConditionAvailTime"/> 
	<result column="COOP_CONDITION_LIMIT_PER" jdbcType="BIGINT" property="coopConditionLimitPer"/> 
	<result column="COOP_CONTRACT_RATIO" jdbcType="FLOAT" property="coopContractRatio"/> 
	<result column="COOP_CONTRACT_SETT" jdbcType="BIGINT" property="coopContractSett"/> 
	<result column="COOP_CONTRACT_METHOD" jdbcType="VARCHAR" property="coopContractMethod"/> 
	<result column="COOP_CONTRACT_END_DATE" jdbcType="DATE" property="coopContractEndDate"/> 
	<result column="COOP_KIND" jdbcType="VARCHAR" property="coopKind"/> 
	<result column="COMPANY_ID" jdbcType="VARCHAR" property="companyId"/> 
	<result column="GWAN_RI_NUM" jdbcType="VARCHAR" property="gwanRiNum"/> 
	</resultMap>
	
	
	<sql id = "budgetBill">
	BUDGET_BILL_NUM,BUDGET_BILL_SUBJECT,BUDGET_BILL_PRICE_SUM,BUDGET_BILL_LABOR_RATIO,BUDGET_BILL_LABOR_PRICE,
	BUDGET_BILL_GOODS_PRICE,BUDGET_BILL_DATE,GWAN_RI_NUM
	</sql>
	<resultMap type="bbDTO" id="budgetMap">
	<id column="BUDGET_BILL_NUM" jdbcType="BIGINT" property="budgetBillNum"/> 
	<result column="BUDGET_BILL_SUBJECT" jdbcType="VARCHAR" property="budgetBillSubject"/> 
	<result column="BUDGET_BILL_PRICE_SUM" jdbcType="BIGINT" property="budgetBillPriceSum"/> 
	<result column="BUDGET_BILL_LABOR_RATIO" jdbcType="FLOAT" property="budgetBillLaborRatio"/> 
	<result column="BUDGET_BILL_LABOR_PRICE" jdbcType="BIGINT" property="budgetBillLaborPrice"/> 
	<result column="BUDGET_BILL_GOODS_PRICE" jdbcType="BIGINT" property="budgetBillGoodsPrice"/> 
	<result column="BUDGET_BILL_DATE" jdbcType="DATE" property="budgetBillDate"/> 
	<result column="GWAN_RI_NUM" jdbcType="VARCHAR" property="gwanRiNum"/> 
	</resultMap>
	<sql id="exl">
		exp.COMPANY_ID,COMPANY_REG_NUM,COMPANY_NAME,COMPANY_ADDR,COMPANY_PH,COMPANY_TYPE,COMPANY_EMAIL,
		exploration_num,exploration_type,exploration_schedule,exploration_effect,exploration_mana_name,exploration_avail_time,
		exploration_avail_date,exploration_avail_holi,exploration_limit_age,exploration_limit_per,exploration_condition,
		exploration_file,exploration_submit, young_up_num	
	</sql>
	
	<resultMap type="exlDTO" id="exlMap"><!-- ExplorListDTO  클래스 resultMap -->
		<id column="COMPANY_ID" jdbcType="VARCHAR" property="companyId"/> <!-- 업체 아이디 ()-->
		<id column="exploration_num" jdbcType="BIGINT" property="explorationNum"/> <!-- 답사보고서 번호-->
		<result column="YOUNG_UP_NUM" jdbcType="VARCHAR" property="youngUpNum"/> <!-- 사원번호 -->
		<result column="COMPANY_REG_NUM" jdbcType="VARCHAR" property="companyRegNum"/> <!-- 업체 사업자번호 -->
		<result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName"/> <!-- 업체명 -->
		<result column="COMPANY_ADDR" jdbcType="VARCHAR" property="companyAddr"/> <!-- 업체 주소 -->
		<result column="COMPANY_PH" jdbcType="VARCHAR" property="companyPh"/> <!-- 업체 번호 -->
		<result column="COMPANY_TYPE" jdbcType="VARCHAR" property="companyType"/> <!-- 업체 유형(공기업/민간) -->
		<result column="COMPANY_EMAIL" jdbcType="VARCHAR" property="companyEmail"/> <!-- 업체 이메일 -->
		<result column="exploration_type" jdbcType="VARCHAR" property="explorationType"/> <!-- 업체 유형	 -->
		<result column="exploration_schedule" jdbcType="DATE" property="explorationSchedule"/> <!-- 사전답사 예정일 -->
		<result column="exploration_effect" jdbcType="DATE" property="explorationEffect"/> <!-- 사전답사 실시일 -->
		<result column="exploration_mana_name" jdbcType="VARCHAR" property="explorationManaName"/> <!-- 업체담당자 이름 -->
		<result column="exploration_avail_time" jdbcType="VARCHAR" property="explorationAvailTime"/> <!-- 업체 방문 가능시간 -->
		<result column="exploration_avail_date" jdbcType="VARCHAR" property="explorationAvailDate"/> <!-- 업체 사용가능 날짜 -->
		<result column="exploration_avail_holi" jdbcType="VARCHAR" property="explorationAvailHoli"/> <!-- 공휴일 사용 가능 여부 -->
		<result column="exploration_limit_age" jdbcType="BIGINT" property="explorationLimitAge"/> <!-- 업체 방문 제한 나이 -->
		<result column="exploration_limit_per" jdbcType="BIGINT" property="explorationLimitPer"/> <!-- 업체 방무문 제한 인원 -->
		<result column="exploration_condition" jdbcType="VARCHAR" property="explorationCondition"/> <!-- 업체 방문 제한 조건	 -->
		<result column="exploration_file" jdbcType="VARCHAR" property="explorationFile"/> <!-- 증빙자료	자료	 -->
		<result column="exploration_submit" jdbcType="VARCHAR" property="explorationSubmit"/> <!-- 제출여부	여부	 -->
		</resultMap>
		

<sql id="basecolumn">
		GWAN_RI_NUM, GWAN_RI_ID, GWAN_RI_PW, GWAN_RI_BIRTH, GWAN_RI_NAME,
		GWAN_RI_GENDER, GWAN_RI_PH, GWAN_RI_REGIST, GWAN_RI_EMAIL
	</sql>	
	<resultMap type="gwanriDTO" id="gwanriDTOForm">
		<id column="GWAN_RI_NUM" jdbcType="VARCHAR" property="gwanRiNum"/> <!-- 사원번호 -->
		<result column="GWAN_RI_ID" jdbcType="VARCHAR" property="gwanRiId"/><!-- 아이디 -->
		<result column="GWAN_RI_PW" jdbcType="VARCHAR" property="gwanRiPw"/><!--  비밀번호 -->
		<result column="GWAN_RI_NAME" jdbcType="VARCHAR" property="gwanRiName"/><!-- 사원이름 -->
		<result column="GWAN_RI_EMAIL" jdbcType="VARCHAR" property="gwanRiEmail"/><!-- 이메일주소 -->
		<result column="GWAN_RI_PH" jdbcType="VARCHAR" property="gwanRiPh"/><!-- 전화번호 -->
		<result column="GWAN_RI_REGIST" jdbcType="DATE" property="gwanRiRegist"/><!-- 입사일 -->
		<result column="GWAN_RI_BIRTH" jdbcType="DATE" property="gwanRiBirth"/><!-- 생일 -->
		<result column="GWAN_RI_GENDER" jdbcType="CHAR" property="gwanRiGender"/><!-- 성별 -->
	</resultMap>
	
	<!-- 로그인  조회 -->
	<select id="gwanriLog" resultMap="gwanriDTOForm" parameterType="gwanriDTO">
		select <include refid="basecolumn"/>
		from GWAN_RI
		where GWAN_RI_ID = #{gwanRiId} 		
	</select>
	
	<select id="coopAllSelect" parameterType="string" resultMap="coopMap">
		select 
		<include refid="coopContract" />
		from COOP_CONTRACT
	</select>
	
	<!-- 협약조건안 디테일 -->
	<select id="coopDetail" resultMap="coopMap" parameterType="Integer">
  		SELECT <include refid="coopContract" />
		FROM COOP_CONTRACT 
		WHERE COOP_CONTRACT_NUM = #{coopContractNum}
	</select>
	<!-- 예산안보고서 디테일 -->
	<select id="budgetDetail" resultMap="budgetMap" parameterType="Integer">
  		SELECT <include refid="budgetBill" />
		FROM BUDGET_BILL 
		WHERE BUDGET_BILL_NUM = #{budgetBillNum}
	</select>
	<select id="budgetList" parameterType="string" resultMap="budgetMap">
		select 
		<include refid="budgetBill" />
		from BUDGET_BILL
	</select>

	<select id="expAllSelect" resultMap="exlMap">
		select <include refid="exl"/>
		from exploration exp,company com
		<where>
			exp.company_id = com.company_id
			<!-- <if test="#{explorationNum != null}">
			AND exploration_num = #{explorationNum}
			</if> -->
		</where>
	</select>
	
	<!-- 사전보고서 번호로 하나 가져오기 -->
	<select id="expDetail" resultMap="exlMap" parameterType="expDTO">
		select <include refid="exl"/>
		from exploration exp,company com
		<where>
			exp.company_id = com.company_id AND exploration_num = #{explorationNum}
			
		</where>
	</select>
	<!-- 사전보고서 번호로 하나 가져오기(확인) -->
	<select id="expDetail2" resultMap="exlMap" parameterType="expDTO">
		select <include refid="exl"/>
		from exploration exp,company com
		<where>
			exp.company_id = com.company_id AND exploration_num = #{explorationNum}
			
		</where>
	</select>
</mapper>