<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmployeeMapper">

<cache />
<sql id="baseEmployee">
	EMPLOYEE_NUM, EMPLOYEE_ID, EMPLOYEE_PW, EMPLOYEE_BIRTH, EMPLOYEE_NAME,
	EMPLOYEE_GENDER, EMPLOYEE_PH, EMPLOYEE_REGIST, EMPLOYEE_EMAIL
	</sql>
	
<resultMap type="employeeDTO" id="baseEmployee">
	    
		<id column="EMPLOYEE_NUM" jdbcType="VARCHAR" property="employeeNum"/>
		<result column="EMPLOYEE_ID" jdbcType="VARCHAR" property="employeeId"/>
		<result column="EMPLOYEE_PW" jdbcType="VARCHAR" property="employeePw"/>
		<result column="EMPLOYEE_BIRTH" jdbcType = "DATE" property="employeeBirth"/>
		<result column="EMPLOYEE_NAME" jdbcType="VARCHAR" property="employeeName"/>		
		<result column="EMPLOYEE_GENDER" jdbcType="CHAR" property="employeeGender"/>
		<result column="EMPLOYEE_PH" jdbcType="VARCHAR" property="employeePh"/>
		<result column="EMPLOYEE_REGIST" jdbcType="VARCHAR" property="employeeEmail"/>
		<result column="EMPLOYEE_EMAIL" jdbcType="DATE" property="employeeRegist"/>
		<result column="EMPLOYEE_KIND" jdbcType="BIGINT" property="employeeKind"/>		
	</resultMap>	

<insert id="insertEmployee" parameterType="employeeDTO"> 
   insert into
	<if test="kind  == 301">
	gwan_ri(gwan_ri_num)
   values(to_char(sysdate)+#{employeeName}+#{employeeGender}+#{kind})
	</if> 
	<if test="kind  == 302">
	ki_hoekki_hoek_num)
   values(to_char(sysdate)+#{employeeName}+#{employeeGender}+#{kind})
	</if> 
	<if test="kind  == 303">
	in_sa(in_sa_num)
   values(to_char(sysdate)+#{employeeName}+#{employeeGender}+#{kind})
	</if> 
	<if test="kind  == 304">
	young_up(young_up_num)
   values(to_char(sysdate)+#{employeeName}+#{employeeGender}+#{kind})
	</if> 
   
</insert> 

</mapper>