<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="youngupSelectMapper">
	
<cache />
	<sql id="baseYoungUP"> <!-- 영업부 직원 테이블 컬럼 -->
		YOUNG_UP_NUM,YOUNG_UP_ID,YOUNG_UP_PW,YOUNG_UP_NAME,YOUNG_UP_EMAIL,YOUNG_UP_PH,YOUNG_UP_REGIST,YOUNG_UP_BIRTH,YOUNG_UP_GENDER
	</sql>
	<sql id="exl">
		exp.COMPANY_ID,COMPANY_REG_NUM,COMPANY_NAME,COMPANY_ADDR,COMPANY_PH,COMPANY_TYPE,COMPANY_EMAIL,
		exploration_num,exploration_type,exploration_schedule,exploration_effect,exploration_mana_name,exploration_avail_time,
		exploration_avail_date,exploration_avail_holi,exploration_limit_age,exploration_limit_per,exploration_condition,
		exploration_file,exploration_submit, young_up_num	
	</sql>
	<resultMap type="exlDTO" id="exlMap"><!-- ExplorListDTO  클래스 resultMap -->
		<id column="COMPANY_ID" jdbcType="VARCHAR" property="companyId"/> <!-- 업체 아이디 ()-->
		<id column="exploration_num" jdbcType="BIGINT" property="explorationNum"/> <!-- 답사보고서 번호-->
		<result column="YOUNG_UP_NUM" jdbcType="VARCHAR" property="youngUpNum"/> <!-- 사원번호 -->
		<result column="COMPANY_REG_NUM" jdbcType="VARCHAR" property="companyRegNum"/> <!-- 업체 사업자번호 -->
		<result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName"/> <!-- 업체명 -->
		<result column="COMPANY_ADDR" jdbcType="VARCHAR" property="companyAddr"/> <!-- 업체 주소 -->
		<result column="COMPANY_PH" jdbcType="VARCHAR" property="companyPh"/> <!-- 업체 번호 -->
		<result column="COMPANY_TYPE" jdbcType="VARCHAR" property="companyType"/> <!-- 업체 유형(공기업/민간) -->
		<result column="COMPANY_EMAIL" jdbcType="VARCHAR" property="companyEmail"/> <!-- 업체 이메일 -->
		<result column="exploration_type" jdbcType="VARCHAR" property="explorationType"/> <!-- 업체 유형	 -->
		<result column="exploration_schedule" jdbcType="DATE" property="explorationSchedule"/> <!-- 사전답사 예정일 -->
		<result column="exploration_effect" jdbcType="DATE" property="explorationEffect"/> <!-- 사전답사 실시일 -->
		<result column="exploration_mana_name" jdbcType="VARCHAR" property="explorationManaName"/> <!-- 업체담당자 이름 -->
		<result column="exploration_avail_time" jdbcType="VARCHAR" property="explorationAvailTime"/> <!-- 업체 방문 가능시간 -->
		<result column="exploration_avail_date" jdbcType="VARCHAR" property="explorationAvailDate"/> <!-- 업체 사용가능 날짜 -->
		<result column="exploration_avail_holi" jdbcType="VARCHAR" property="explorationAvailHoli"/> <!-- 공휴일 사용 가능 여부 -->
		<result column="exploration_limit_age" jdbcType="BIGINT" property="explorationLimitAge"/> <!-- 업체 방문 제한 나이 -->
		<result column="exploration_limit_per" jdbcType="BIGINT" property="explorationLimitPer"/> <!-- 업체 방무문 제한 인원 -->
		<result column="exploration_condition" jdbcType="VARCHAR" property="explorationCondition"/> <!-- 업체 방문 제한 조건	 -->
		<result column="exploration_file" jdbcType="VARCHAR" property="explorationFile"/> <!-- 증빙자료	자료	 -->
		<result column="exploration_submit" jdbcType="VARCHAR" property="explorationSubmit"/> <!-- 제출여부	여부	 -->
	</resultMap>
	<resultMap type="youngDTO" id="youngDTOForm"><!--  YoungupDTO 클래스 resultMap -->
		<id column="YOUNG_UP_NUM" jdbcType="VARCHAR" property="youngUpNum"/> <!-- 사원번호 -->
		<result column="YOUNG_UP_ID" jdbcType="VARCHAR" property="youngUpId"/><!-- 아이디 -->
		<result column="YOUNG_UP_PW" jdbcType="VARCHAR" property="youngUpPw"/><!--  비밀번호 -->
		<result column="YOUNG_UP_NAME" jdbcType="VARCHAR" property="youngUpName"/><!-- 사원이름 -->
		<result column="YOUNG_UP_EMAIL" jdbcType="VARCHAR" property="youngUpEmail"/><!-- 이메일주소 -->
		<result column="YOUNG_UP_PH" jdbcType="VARCHAR" property="youngUpPh"/><!-- 전화번호 -->
		<result column="YOUNG_UP_REGIST" jdbcType="DATE" property="youngUpRegist"/><!-- 입사일 -->
		<result column="YOUNG_UP_BIRTH" jdbcType="DATE" property="youngUpBirth"/><!-- 생일 -->
		<result column="YOUNG_UP_GENDER" jdbcType="CHAR" property="youngUpGender"/><!-- 성별 -->
	</resultMap>
	<!-- 로그인  조회 -->
	<select id="youngupLog" resultMap="youngDTOForm" parameterType="youngDTO">
		select <include refid="baseYoungUP"/>
		from YOUNG_UP
		<where>
			YOUNG_UP_ID = #{youngUpId}
			AND YOUNG_UP_PW = #{youngUpPw} 
		</where>
	</select>
	<!-- 모든 사전답사 보고서 조회 -->
	<select id="explorList" resultMap="exlMap">
		select <include refid="exl"/>
		from exploration exp,company com
		<where>
			exp.company_id = com.company_id
			<!-- <if test="#{explorationNum != null}">
			AND exploration_num = #{explorationNum}
			</if> -->
		</where>
	</select>
	<!-- 종류별 사전답사 보고서 조회하기 -->
	<select id="kindExp" resultMap="exlMap">
		select <include refid="exl"/>
		from exploration exp,company com
		<where>
			exp.company_id = com.company_id
			<if test="#{explorationSubmit !=null}">
				AND exploration_submit = #{explorationSubmit}
			</if>
		</where>
	</select>
	<!-- 사전보고서 번호로 하나 가져오기 -->
	<select id="expDetail" resultMap="exlMap" parameterType="expDTO">
		select <include refid="exl"/>
		from exploration exp,company com
		<where>
			exp.company_id = com.company_id AND exploration_num = #{explorationNum}
		</where>
	</select>
</mapper>