<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 	"-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<typeAliases>
		<typeAlias type="Model.GwanriDTO.GwanriDTO" alias ="gwanriDTO"/>
		<typeAlias type="Model.GwanriDTO.AgreementConditionDTO" alias ="acDTO"/>
		<typeAlias type="Model.InsaDTO.InsaDTO" alias ="insaDTO"/>
		<typeAlias type="Model.CompanyDTO.CompanyDTO" alias ="comDTO"/>
		<typeAlias type="Model.UserDTO.UserDTO" alias ="userDTO"/>
		<typeAlias type="Model.InsaDTO.RecruitDTO" alias = "recruitDTO"/>
		<typeAlias type="Model.YoungupDTO.YoungupDTO" alias = "youngDTO"/>
		<typeAlias type="Model.KihoekDTO.KihoekDTO" alias ="kihoekDTO"/>
		<typeAlias type="Model.InsaDTO.EmployeeDTO" alias = "employeeDTO"/>
		<typeAlias type="Model.YoungupDTO.ExplorListDTO" alias = "exlDTO"/>
		<typeAlias type="Model.YoungupDTO.ExplorationDTO" alias = "expDTO"/>
		<typeAlias type="Model.InsaDTO.ContractDTO" alias = "contractDTO" />
		<typeAlias type="Model.KihoekDTO.ConceptDTO" alias ="conceptDTO"/>
	</typeAliases>
</configuration>