<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companySelectMapper">
	
<cache />

	<sql id="company">
		COMPANY_ID,COMPANY_REG_NUM,COMPANY_PW,COMPANY_NAME,COMPANY_ADDR,COMPANY_PH,COMPANY_TYPE,COMPANY_EMAIL,COMPANY_PER_APP,COMPANY_AGG_APP
	</sql>
	<select id="idConfirm" parameterType="string" resultType="string">
		SELECT COMPANY_ID FROM COMPANY  WHERE COMPANY_ID = #{userId} UNION 
		SELECT user_id FROM KORTORY_USER WHERE user_id = #{userId} UNION 
		SELECT gwan_ri_id FROM GWAN_RI WHERE gwan_ri_id = #{userId}  UNION 
		SELECT in_sa_id FROM IN_SA WHERE in_sa_id = #{userId} UNION 
		SELECT ki_hoek_id FROM KI_HOEK WHERE ki_hoek_id = #{userId} UNION 
		SELECT young_up_id FROM YOUNG_UP WHERE young_up_id = #{userId}
	</select>
</mapper>