<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="companyInsertMapper">
	
<cache />

	<sql id="company">
		COMPANY_ID,COMPANY_REG_NUM,COMPANY_PW,COMPANY_NAME,COMPANY_ADDR,
		COMPANY_PH,COMPANY_TYPE,COMPANY_EMAIL,COMPANY_PER_APP,COMPANY_AGG_APP
	</sql>
	<insert id="companyInsert" parameterType="comDTO">
		insert into company(<include refid="company"/>)
		values(#{companyId},#{companyRegNum},#{companyPw},#{companyName},
		#{companyAddr},#{companyPh},#{companyType},#{companyEmail},#{companyPerApp},#{companyAggApp})
	</insert>
</mapper>