<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GwanriMapper">
	
<cache />

<sql id="gwanricolumn">
		GWAN_RI_ID, GWAN_RI_PW, GWAN_RI_BIRTH, GWAN_RI_NAME, GWAN_RI_GENDER,
		GWAN_RI_PH, GWAN_RI_REGIST, GWAN_RI_EMAIL
	</sql>
	<resultMap type="gwanriDTO" id="gwanriMember">
	    <!-- 
	    	MemberDTO memDTO = new MemberDTO();
	    	memDTO.setUserId(rs.gertString("USER_ID"));
	     -->
		<id column="GWAN_RI_ID" jdbcType="VARCHAR" property="gwanRiId"/>
		<!-- memDTO.setUserPw(rs.getString("USER_PW")); -->
		<result column="GWAN_RI_PW" jdbcType="VARCHAR" property="gwanRiPw"/>
		<result column="GWAN_RI_NAME" jdbcType = "VARCHAR" property="gwanRiName"/>
		<result column="GWAN_RI_BIRTH" jdbcType="DATE" property="gwanRiBirth"/>
		<result column="GWAN_RI_GENDER" jdbcType="CHAR" property="gwanRiGender"/>
		<result column="GWAN_RI_EMAIL" jdbcType="VARCHAR" property="gwanRiEmail"/>
		<result column="GWAN_RI_PH" jdbcType="VARCHAR" property="gwanRiPh"/>
		<result column="GWAN_RI_REGIST" jdbcType="DATE" property="gwanRiRegist"/>
	</resultMap>
	</mapper>